.metadata
.gradle
bin/
tmp/
*.log
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.factorypath
*local.properties
build*.properties
build*.xml
dist/
.apt_generated/
.recommenders/
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.buildpath
.DS_Store
dependency-reduced-pom.xml
log/
target/
*versionsBackup